<div class="container mt-5">
    <h1 class="mb-4 text-center">Learn Languages</h1>
    <p class="mb-4 text-center">Learn languages by seeing common Phrases and Vocabularies!</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm text-center">
                <div class="card-body rounded" style="background-color:#015192">
                    <h4 class="card-title" style="color:#fdca03">Swedish</h4>
                    <a href="@Url.Action("Index", "Swedish", new { language = "Swedish" })" class="btn btn-success m-2">
                        💬 Learn Swedish
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm text-center ">
                <div class="card-body rounded" style="background-color:#C2143C">
                    <h4 class="card-title" style="color:white">Polish</h4>
                    <a href="@Url.Action("Index", "Polish", new { language = "Polish" })" class="btn btn-success m-2">
                        📖 Learn Polish
                    </a>
                </div>
            </div>
        </div>
    </div>
