@model List<PhrasesSE>

<div class="container mt-5">
    <h1 class="mb-4 text-center" style="color:#fdca03">Swedish Common Phrases</h1>

    <div class="m-4 text-start">
        <a href="@Url.Action("Index", "Swedish", new { language = "Swedish" })" class="btn btn-success m-2">
            Go Back
        </a>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-light">Language</th>
                <th class="text-light">Phrases</th>
                <th class="text-light">Translation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phrase in Model)
            {
                <tr>
                    <td class="text-light">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Flag_of_Sweden.svg"
                             alt="Swedish Flag" style="width: 20px; height: auto; margin-right: 5px;" />
                        @phrase.Language
                    </td>
                    <td class="text-light">@phrase.Text</td>
                    <td class="text-light">@phrase.Translation</td>
                </tr>
            }
        </tbody>
    </table>
</div>
